<div>
  <h2>Detalle de profesor</h2>
  <table><tr>
    <td>Cédula</td><td><input value="{{=$.prof.cedula}}" disabled="disabled" onChange="framux.bind('$.prof.cedula',this)"/></td>
    <td>Nombre</td><td><input value="{{=$.prof.nombre}}" onChange="framux.bind('$.prof.nombre',this)"/></td></tr>
    <tr><td>Título</td><td><input value="{{=$.prof.titulo}}" onChange="framux.bind('$.prof.titulo',this)"/></td>
    <td>Area</td><td><input value="{{=$.prof.area}}" onChange="framux.bind('$.prof.area',this)"/></td></tr>
    <tr><td>Correo</td><td><input value="{{=$.prof.correo}}" onChange="framux.bind('$.prof.correo',this)"/></td>
    <td>Telefono</td><td><input value="{{=$.prof.telefono}}" onChange="framux.bind('$.prof.telefono',this)"/></td>
  </tr></table>
  <a href="#profUpdate/{{=$.prof.cedula}}">
    <input type="button" value="Actualizar" id="button"/>
  </a>
  <a href="#profDelete/{{=$.prof.cedula}}">
    <input type="button" value="Eliminar" id="button"/>
  </a>
</div>