<div>
  <h2>Detalle de profesor</h2>
  <table><tr>
    <td>Cédula</td><td><input value="" id="cedula"/></td>
    <td>Nombre</td><td><input value="" id="nombre"/></td></tr>
    <tr><td>Título</td><td><input value="" id="titulo"/></td>
    <td>Area</td><td><input value="" id="area"/></td></tr>
    <tr><td>Correo</td><td><input value="" id="correo"/></td>
    <td>Telefono</td><td><input value="" id="telefono"/></td>
  </tr></table>
  <a href="#profAdd">
    <input type="button" value="Agregar" id="button"/>
  </a>
</div>